.active {
  background-color: rgb(66, 202, 100) !important;
}

.active::after {
  content: url("../Assests/arrowdown.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.min {
  background-color: rgb(243, 59, 26) !important;
}
