.container {
  --bordercolor: rgb(80, 214, 255);
  --bordersize: 1px;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}

.header button {
  min-width: 80px;
  background-color: rgb(19, 159, 51);
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 1px 4px gray;
  transition: 0.3s linear;
}

.header button:hover {
  opacity: 0.8;
  border: rgb(51, 51, 51) 1px solid;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear;
  width: fit-content;
  border-left: var(--bordersize) var(--bordercolor) solid;
  border-right: var(--bordersize) var(--bordercolor) solid;
}

.cell {
  border: 0.2px solid rgb(160, 160, 160);
  width: 4vw;
  height: 4vw;
  background-color: rgb(141, 141, 141);
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}

.cell_even {
  background-color: rgb(221, 221, 221);
}

.queen {
  width: 95%;
  animation: fadein 0.4s;
}

@keyframes fadein {
  from {
    opacity: 0.2;
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .cell {
    width: 9vw;
    height: 9vw;
    padding: 2px;
  }
}
