.main {
  margin-top: 20%;
  width: 60%;
}

.container {
  width: 100%;
  display: flex;

  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  border-bottom: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 3px 15px black;
}

.bar {
  width: 50px;
  position: absolute;
  border-top-right-radius: 20px;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border: black solid 0.55px;
  left: 20px;
  min-height: 20px;
  background-color: rgb(120, 194, 223);
  text-align: center;
  transition: 0.4s ease-in;
}

.func {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.func span {
  font-weight: bold;
  font-size: 25px;
}

.func button {
  min-width: 80px;
  background-color: rgb(19, 159, 51);
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 1px 4px gray;
}

.func div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .bar {
    width: 25px;
  }

  .main {
    width: 80%;
  }
}
